@import "Styles/screens";


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;

  @include screenTDL {
    &::after, &::before {
      content: '';
      display: block;
      //width: 100px;
      flex-basis: 100px;
      flex-shrink: 1;
    }
  }

  // TODO: sizes for all resolutions

  &::after, &::before {
  }

  > * {
    flex: 1;
  }
}
