@import "Styles/screens";

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;

  column-gap: 40px;

  grid-area: social;

  @include screenMT {
    justify-self: end;
    align-self: start;
  }
}
