.button {
  width: 160px;
  height: 40px;

  background: #FFFFFF;

  border: 1px solid #C1892A;
  box-sizing: border-box;
  border-radius: 20px;

  line-height: 40px;
  text-align: center;

  color: #C1892A;
}
